default vesamenu.c32
timeout 100
menu background 
menu autoboot Starting GNUrama Linux in # second{,s}. Press any key to interrupt.

menu clear
menu title GNUrama Linux
menu width 78
menu margin 4
menu rows 14

menu color border 0 #ffffffff #ee000000 std
menu color title 0 #ffffffff #ee000000 std
menu color tabmsg 0 #ff3a6496 #00000000 std
menu color sel 0 #ffffffff #00000000 std
menu color unsel 0 #84b8ffff #00000000 std
menu color pwdheader 0 #ff000000 #99ffffff rev
menu color pwdborder 0 #ff000000 #99ffffff rev
menu color pwdentry 0 #ff000000 #99ffffff rev
menu color hotkey 0 #ff00ff00 #ee000000 std
menu color hotsel 0 #ffffffff #85000000 std

label gnurama
  menu label ^Start GNUrama Linux live.
  kernel vmlinuz
  initrd initramfs
  append rd.live.image rd.live.overlay.size=1024 root=CDLABEL=GNURAMALINUX
  menu default

menu separator

label local
  menu label Boot from ^local drive.
  localboot 0xffff